* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ===============---------------------body-start------================= */

.body {}


/* ===============---------------------body-end------================= */


/* ===============---------------------header-start------================= */

.header {}

.section-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 25px;
    z-index: 10 !important;
    margin-bottom: 50px;
}

.logo-box {
    width: 200px;
}

.logo-home {}

.ouren-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.location-box {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    width: 400px;
}

.icon-contact-one {}

.ouren-text-one {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 12px;
    color: #626270;
    width: 350px;
    letter-spacing: 1px;
}

.ouren-text-two {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 12px;
    color: #626270;
    width: 130px;
    letter-spacing: 1px;
}

.ouren-text-three {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 12px;
    color: #626270;
    width: 145px;
    letter-spacing: 1px;
}

.call-box {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    width: 200px;
}

.globe-box {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    width: 200px;
}

.seb {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.section-menu {
    padding-top: 25px;
    z-index: 10 !important;
    position: absolute;
}

.menu-bigger {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-origin {
    width: 1140px;
    height: 70px;
    background: #2C2C32;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.line-be {
    width: 0;
    background-color: #FCDB5C;
    height: 2px;
    transform: translateY(5px);
}

.link-top-menu:hover .line-be {
    width: 100%;
    transition: all 0.4s linear;
}

.link-top-menu {
    text-decoration: none;
    color: white;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: px;
}

.link-top-menu:hover {
    color: #FCDB5C;
    transition: 0.4s;
}

.section-add {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transform: translateY(-37px) !important;
}

.add-boxes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(../assets/img/background-iron.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
}

.back-ten {
    background-color: #2c2c32d2;
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.add-map {}

.map-foto {
    width: 800px;
    height: 500px;
}

.add-text {}

.box-of-number {
    text-align: center;
}

.number-13 {
    width: auto;
    height: auto;
}

.year-text {
    font-family: Raleway;
    font-size: 50px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.line-biger {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.line {
    width: 130px;
    height: 2px;
    background-color: white;
    border-radius: 5px;
}

.box-of-year {
    text-align: center;
    width: 320px;
}

.all-text {
    font-family: "Raleway";
    font-size: 90px;
    font-weight: 400;
    line-height: 106px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.number-250 {
    margin-bottom: 20px;
    width: auto;
    height: auto;
}

.ob-text {
    font-family: "Raleway";
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    color: white;
}


/* ===============---------------------header-end------================= */


/*================------------------main-start------------==================== */

.main {}

.main-box {}

.main-sectore {}

.text-of-top {
    margin-bottom: 45px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.fact-text {
    font-family: Raleway;
    font-size: 41px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: start;
}

.fact-text-mini {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #787878;
}

.cards-bigger {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-centered {
    text-align: center;
}

.card-one {
    width: 300px;
    height: 238px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F6F2;
    border-radius: 20px;
    margin-right: 60px;
}

.cards-x-img {}

.card-text-me {
    font-family: Raleway;
    font-size: 31px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
}

.card-two {
    width: 350px;
    height: 238px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F6F2;
    border-radius: 20px;
    margin-right: 60px;
}

.card-three {
    width: 350px;
    height: 238px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F6F2;
    border-radius: 20px;
}

.contic-big {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    width: auto;
    height: 750px;
}

.contic-box {
    width: 1130px;
    text-align: center;
}

.button-info {
    width: 1130px;
    height: 70px;
    margin-bottom: 20px;
    background: #F7F6F2;
    border: 0px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 25px;
}

.plus-img {
    margin-right: 20px;
}

.title-button-info {
    font-family: Raleway;
    font-size: 27px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.add-box {}

.lorem-text {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
}


/* .giga-box {
    width: 300px;
    height: 350px;
    display: block !important;
    transform: rotate(10deg);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fif-box {
    width: 750px;
    height: 200px;
    background-color: #2C2C32;
    transform: rotate(-10deg) translateY(-10px) translateX(-40px);
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 56px;
} */


/* ===============----------------main-sector-two---------------======== */

.main-sector-two {
    width: 100%;
    margin-bottom: 80px;
}

.defenity-sector {}

.text-stroi {
    position: sticky;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
}

.fact-text {}

.fact-text-mini {}

.section-of-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
}

.section-the-buttons {
    position: relative;
    z-index: 4;
}

.button-the-redemp-one {
    width: 442px;
    height: 70px;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    margin: 0;
    background-image: url(../assets/img/bg-1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 15px;
}

.button-the-redemp-one:hover {
    background-image: url(../assets/img/reg-1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all 0.2s linear;
}

.button-the-redemp-one:focus {
    background-image: url(../assets/img/reg-1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all 0.2s linear;
}

.button-the-redemp-two {
    width: 342px;
    height: 70px;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    margin: 0;
    background-image: url(../assets/img/bg-2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 15px;
}

.button-the-redemp-two:hover {
    background-image: url(../assets/img/reg-2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all 0.2s linear;
}

.button-the-redemp-two:focus {
    background-image: url(../assets/img/reg-2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all 0.2s linear;
}

.button-the-redemp-three {
    width: 310px;
    height: 70px;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    margin: 0;
    background-image: url(../assets/img/bg-3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 15px;
}

.button-the-redemp-three:hover {
    background-image: url(../assets/img/reg-3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all 0.2s linear;
}

.button-the-redemp-three:focus {
    background-image: url(../assets/img/reg-3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all 0.2s linear;
}

.button-the-redemp-four {
    width: 315px;
    height: 70px;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    margin: 0;
    background-image: url(../assets/img/bg-4.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 15px;
}

.button-the-redemp-four:hover {
    background-image: url(../assets/img/reg-3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all 0.2s linear;
}

.button-the-redemp-four:focus {
    background-image: url(../assets/img/reg-3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all 0.2s linear;
}

.button-the-redemp-five {
    width: 276px;
    height: 70px;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    margin: 0;
    background-image: url(../assets/img/bg-6.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 15px;
}

.button-the-redemp-five:hover {
    background-image: url(../assets/img/reg-3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all 0.2s linear;
}

.button-the-redemp-five:focus {
    background-image: url(../assets/img/reg-3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all 0.2s linear;
}

.button-the-redemp-six {
    width: 296px;
    height: 70px;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    margin: 0;
    background-image: url(../assets/img/bg-6.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 15px;
}

.button-the-redemp-six:focus {
    background-image: url(../assets/img/reg-3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all 0.2s linear;
}

.button-the-redemp-six:hover {
    background-image: url(../assets/img/reg-3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all 0.2s linear;
}

.button-the-redemp-seven {
    width: 296px;
    height: 70px;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    margin: 0;
    background-image: url(../assets/img/bg-6.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 15px;
}

.button-the-redemp-seven:focus {
    background-image: url(../assets/img/reg-3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all 0.2s linear;
}

.button-the-redemp-seven:hover {
    background-image: url(../assets/img/reg-3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all 0.2s linear;
}

.button-the-redemp-eight {
    width: 296px;
    height: 70px;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    margin: 0;
    background-image: url(../assets/img/bg-6.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 15px;
}

.button-the-redemp-eight:focus {
    background-image: url(../assets/img/reg-3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all 0.2s linear;
}

.button-the-redemp-eight:hover {
    background-image: url(../assets/img/reg-3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all 0.2s linear;
}

.button-the-redemp-nine {
    width: 296px;
    height: 70px;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    margin: 0;
    background-image: url(../assets/img/bg-6.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 15px;
}

.button-the-redemp-nine:focus {
    background-image: url(../assets/img/reg-3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all 0.2s linear;
}

.button-the-redemp-nine:hover {
    background-image: url(../assets/img/reg-3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all 0.2s linear;
}

.button-the-redemp-ten {
    width: 296px;
    height: 70px;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    margin: 0;
    background-image: url(../assets/img/bg-6.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 15px;
}

.button-the-redemp-ten:focus {
    background-image: url(../assets/img/reg-3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all 0.2s linear;
}

.button-the-redemp-ten:hover {
    background-image: url(../assets/img/reg-3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all 0.2s linear;
}

.redemp-number {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 20px;
    color: #626270;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redm-text {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #626270;
}

.section-the-carder {}

.card-back-room {
    width: 850px;
    height: 800px;
    background-image: url(../assets/img/side-view-1.png);
    background-repeat: no-repeat;
    background-size: 110% 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 120px;
    border-radius: 200px 0px 0px;
    transition: all 0.2s linear;
}

.cards-bigger {
    display: flex;
    align-items: center;
    justify-content: center;
}

.yellow-card-ui {
    width: 200px;
    height: 663px;
    background-image: url(../assets/img/line-yellow.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: translateY(-30px) translateX(-360px);
    position: absolute;
    z-index: 4;
}

.texted-card-gray {}

.sector-gray-text {
    width: 812px;
    height: 663px;
    background-image: url(../assets/img/back-radius.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    position: relative;
}

.card-of-hidden {
    width: 220px;
    height: 1000px;
    position: absolute;
    transform: rotate(15deg) translateX(-400px);
    background-color: white;
    z-index: 1;
}

.sector-securit-flex {}

.text-card-grey {
    font-family: "Raleway";
    font-size: 27px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.text-card-mini {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    width: 482px;
    color: white;
}

.make-deg {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ras-deg-button {
    width: 302px;
    height: 70px;
    background-image: url(../assets/img/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
    padding-top: 10px;
    transform: translateX(-100px) translateY(-50px);
    z-index: 185;
    position: sticky;
}

.ras-title {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
}


/* ======================---------------------main-sector-two-END-================================ */


/* ====================----------------------main-sector-three-------------------================ */

.main-sector-three {
    width: auto;
    height: auto;
}

.box-back-ft {
    width: 100%;
    height: 780px;
    background-image: url(../assets/img/background-texting.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    padding-top: 80px;
    justify-content: center;
}

.protect-of-flex {
    width: 1250px;
    height: 500px;
    background-image: url(../assets/img/podarok.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pro-one {}

.on-project-text {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #A1A1A1;
}

.line-of-text {
    width: 700px;
    height: 2px;
    background-color: #787878;
    border-radius: 5px;
    margin-bottom: 10px;
}

.on-text-big {
    font-family: Raleway;
    font-size: 34px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    width: 753px;
    color: white;
    margin-bottom: 70px;
}

.on-text-grey {
    width: 565px;
    color: #A1A1A1;
    margin-bottom: 20px;
}

.yellow-span {
    font-family: Raleway;
    font-size: 35px;
    color: #FCDB5C;
}

.pro-two {}

.yellow-card {
    width: 396px;
    height: 693px;
    background-color: #FCDB5C;
    position: sticky;
    transform: translateY(150px);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 36px;
}

.yellow-cads-header {
    font-family: Raleway;
    font-size: 27px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 26px;
}

.black-add {
    width: 352px;
    height: 115px;
    background-color: #2C2C32;
    color: #FCDB5C;
    font-family: Raleway;
    font-size: 34px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.yellow-cards-main-text {
    font-family: Raleway;
    font-size: 21px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 39px;
}

.mai-mini-text {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 45px;
}

.call-phone {
    font-family: Raleway;
    font-size: 31px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 35px;
}

.ot-zayavka-black {
    width: 302px;
    height: 70px;
    background-image: url(../assets/img/os-zayavka-black.png);
    background-size: 100% 100%;
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    padding-top: 10px;
}

.buttons-text-white {
    color: white;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}


/* ===================---------------main-sector-three-END-------==================== */


/* ==================---------------main-sector-four-start-----------------============ */

.main-sector-four {
    width: 100%;
    height: 941px;
    background-color: #2C2C32;
}

.main-mini-sector {}

.sectors-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    margin-bottom: 50px;
}

.textbox-one {
    margin-right: 450px;
}

.text-grayed-mini {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #A1A1A1;
}

.line-gray {
    width: 700px;
    height: 2px;
    background: #A1A1A1;
    margin-bottom: 10px;
}

.text-after-line {
    font-family: Raleway;
    font-size: 34px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.textbox-two {}

.number-edin {
    font-family: "PT Sans";
    color: #FCDB5C;
    font-size: 31px;
    text-align: end;
}

.cards-sector-rotated {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 530px;
    overflow: hidden;
}

.card-of-rotated-one {
    width: 300px;
    height: 540px;
    transform: rotate(2deg);
    background-image: url(../assets/img/cards-back-1.png);
    background-size: 100% 100%;
}

.card-of-rotated-one:hover .hover-card-one {
    display: block;
    width: 300px;
    height: 540px;
}

.hover-card-one {
    width: 0px;
    height: 0px;
    background-color: #17171ba9;
    display: none;
    padding-top: 190px;
    border: 3px solid #FCDB5C;
}

.hover-card-two {
    width: 300px;
    height: 540px;
    background-color: #17171ba9;
    display: none;
    padding-top: 190px;
    border: 3px solid #FCDB5C;
}

.hover-card-three {
    width: 300px;
    height: 540px;
    background-color: #17171ba9;
    display: none;
    padding-top: 190px;
    transition: all 1s linear;
    border: 3px solid #FCDB5C;
}

.hover-card-four {
    width: 300px;
    height: 540px;
    background-color: #17171ba9;
    display: none;
    padding-top: 190px;
    border: 3px solid #FCDB5C;
}

.hover-cards-text {
    font-family: Raleway;
    font-size: 25px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #FCDB5C;
    transform: rotate(-2deg);
    margin-bottom: 10px;
}

.hover-cards-text-two {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    transform: rotate(-2deg);
}

.card-of-rotated-two {
    width: 300px;
    height: 540px;
    transform: rotate(2deg);
    background-image: url(../assets/img/cards-back-2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.card-of-rotated-two:hover .hover-card-two {
    display: block;
    width: 300px;
    height: 540px;
}

.card-of-rotated-three {
    width: 300px;
    height: 540px;
    transform: rotate(2deg);
    background-image: url(../assets/img/cards-back-3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.card-of-rotated-three:hover .hover-card-three {
    display: block;
    width: 300px;
    height: 540px;
}

.shadow-cards {
    width: 300px;
    height: 540px;
    background-color: #2c2c324d;
}

.card-of-rotated-four {
    width: 300px;
    height: 540px;
    transform: rotate(2deg);
    background-image: url(../assets/img/cards-back-4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.card-of-rotated-four:hover .hover-card-four {
    display: block;
    width: 300px;
    height: 540px;
}


/* =================---------------Main-sector-five-----=========================== */

.main-sector-five {}

.sector-mini-five {
    display: flex;
    align-items: center;
}

.replacement-foto {}

.img-replacement {
    width: 600px;
    height: 800px;
}

.replacement-box-and-info {
    width: 100%;
    height: 650px;
    background: var(--bg-grey-warm, #F7F6F2);
    display: flex;
    justify-content: center;
    padding-top: 93px;
}

.boxws {
    width: 100%;
}

.oo-text {
    color: var(--txt-grey-1, #787878);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.pd-box-texts {
    padding-left: 30px;
    margin-bottom: 30px;
}

.real-text {
    color: var(--txt-grey, #383736);
    font-family: Raleway;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.lined-line {}

.table-texts {}

.kon-text {
    color: var(--txt-grey, #383736);
    font-family: Raleway;
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.textbox-pro {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    height: 40px;
}

.toch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 40px;
    margin-right: 10px;
}

.toch-text {
    color: var(--txt-grey-1, #787878);
    padding-top: 10px;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* 175% */
}

.yellow-info-box {
    width: 100%;
    height: 142px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FCDB5C;
}

.sec-yellow-one {}

.text-sec-one {
    color: var(--bg-dark, #2C2C32);
    font-family: Raleway;
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 460px;
}

.mini-text-secone {
    color: var(--bg-dark, #2C2C32);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.sec-info-two {}

.get-button {
    color: var(--yellow, #FCDB5C);
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    background-image: url(../assets/img/button.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 208px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
}